<div class="recover">
    <form [formGroup]="recoverForm">
        <h3 style="padding: 0px 16px 0px 16px;">
            <b style="margin-left: 5px;">Recupere sua senha</b>
            <hr style="width: 98%;">
        </h3>
        <div class="content">
            <label for="email">Email</label>
            <input placeholder="Entre com seu email" formControlName="email" type="text" />
            <button [disabled]="!recoverForm.valid" (click)="recover(recoverForm.value)" class="btn"
                type="button">Recuperar Senha</button>
            <button class="btn-cancel to-right" type="button" (click)="cancel()">
                Cancelar
            </button>
        </div>
    </form>
</div>