<div class="recover">
    <form [formGroup]="changePasswordForm">
        <h3 style="padding: 0px 16px 0px 16px;">
            <b style="margin-left: 5px;">Altere sua senha</b>
            <hr style="width: 98%;">
        </h3>
        <div class="content">
            <label for="password">Senha</label>
            <input placeholder="Entre com sua senha" formControlName="password" type="password" />
            <label for="checkPassword">Confirmar Senha</label>
            <input placeholder="Repita a senha" formControlName="checkPassword" type="password" />
            <span *ngIf="hasError" class="no-equal">
                <small>{{ errorMessage }}</small>
            </span>
            <button [disabled]="!changePasswordForm.valid" (click)="change(changePasswordForm.value)" class="btn"
                type="button">Alterar Senha
            </button>
        </div>
    </form>
</div>