<div class="login">
    <form [formGroup]="loginForm">
        <div class="imgcontainer">
            <img src="/assets/img/avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="content">
            <label for="email">Email</label>
            <input placeholder="Entre com seu email" formControlName="email" type="text" />
            <label for="password">Password</label>
            <input placeholder="Entre com a sua senha" type="password" formControlName="password" />
            <button [disabled]="!loginForm.valid" (click)="login(loginForm.value)"class="btn" type="button">Logar</button>
            <div>
                <span class="accout-link">
                    Ainda não é cadastrado? Então crie sua <a [routerLink]="['/register']">conta</a>!
                </span>
            </div>
            <div>
                <span class="forgot-link">
                    Esqueceu seu <a [routerLink]="['/recover/password']">password</a>?
                </span>
            </div>
        </div>
    </form>
</div>